.hero {
  text-align: center;
  padding: var(--size-8) 0;
}

.hero h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-grey-200);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
